<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paul Como's Website</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="../public/kube/dist/css/kube.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../public/main.css"/>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <!--devicons-->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="public/flaticon-font/flaticon.css">
    <!-- Animations -->
    <script src="../public/kube/dist/js/kube.js"></script>
    <script src="../public/sweet-scroll.min.js"></script>
    <script src="../public/menuspy.js"></script>
</head>
<body>
    <!-- navbar -->
    <div id="main-header">
        <nav>
            <ul>
                <li><a href="#poster" data-scroll>TOP</a></li>
                <li><a href="#home" data-scroll>TITLE</a></li>
                <li><a href="#aboutme" data-scroll>ABOUT</a></li>
                <li><a href="#projects" data-scroll>PROJECTS</a></li>
                <li><a href="#contact" data-scroll>CONTACT/CONNECT</a></li>
                <li><a href="https://drive.google.com/open?id=1F_vvZzOMQdH54KTruXdnNGjiaYWKQ7Y8"
                       target="_blank" rel="noopener noreferrer">
                  <div class="resume-link">RESUME</div>
                  </a>
                </li>
            </ul>
        </nav>
    </div>


    <!--video background -->
    <div  class="plaxbg-main" id="poster">
        <div class="row">
            <div class="col col-2"></div>
            <div class="col col-8 project-background project-style">
                <div class="row full-row">
                    <div class="col col-12">
                        <div class="push-center">
                            <video loop muted autoplay poster="../public/images/Screen.png" >
                                <source src="../public/video/00038.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="plax-credit push-center">
                            <h2 class="mov-title" id="home">Full-Stack: A Digital Portfolio</h2>
                            <p class="mov-sub">developed by</p>
                            <p class="mov-subHead inline">Paul Como</p><br>
                            <p class="mov-sub">built with</p>
                            <p class="mov-subHead inline">Node.js, Express, Kube, Less</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-2"></div>
        </div>
    </div>
    <!-- about me section -->
    <div class="project-background">
        <div class="row">
            <div class="col col-2"></div>
            <div class="col col-8">
                <div class="row">
                    <div class="col col-12 stripes"></div>
                </div>
            </div>
            <div class="col col-2"></div>
        </div>
        <div id="aboutme" class="row">
            <div class="col col-2 text-center"></div>
            <div class="col col-8 text-center project-style">
                <div class="row">
                    <div class="col col-12 text-pad">
                        <h3 class="head-text mov-title">ABOUT</h3>
                        <p class="text-content">Hi,   My name is Paul Como.  I am a former college athlete, with a B.S. in
                            Kinesiology.  My journey to web development began one day when I discovered the code editor
                            for styling a Tumblr page and found myself oddly intrigued.<br>After spending
                            the next week doing HTML and CSS tutorials, I realized I had a real appreciation for code,
                            and I started searching for more in-depth learning materials.  That search led me to
                            <a href="http://www.digitalcrafts.com/" target="_blank" rel="noreferrer noopener" id="dc-link">
                                DigitalCrafts</a>, a fully immersive coding bootcamp in Houston, which I graduated
                            from in August 2017.<br>Besides programming, I also enjoy making music in Ableton Live,
                            exercising (most weeks), and cooking.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-2 text-center"></div>
        </div>
    </div>
    <!--projects section-->
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-8">
            <div class="row">
                <div class="col col-12 stripes"></div>
            </div>
        </div>
        <div class="col col-2"></div>
    </div>
    <div id="projects" class="row">
        <div class="col col-2"></div>
        <div class="col col-8 text-center project-background project-style">
            <div class="project-style">
                <div class="row">
                    <div class="col col-12 text-center project-background proj-pad">
                        <h3 class="project-title push-middle head-text">Project #1: What The Flick</h3>
                    </div>
                </div>
            </div>
            <div class="row project-style">
                <!-- Technology -->
                <div class="col col-3 text-center project-style project-background icon-padding">
                    <div class="row">
                        <div class="col col-12 head-text icon-title">TECHNOLOGY</div>
                    </div>
                    <!-- icon container -->
                    <div class="row">
                        <div class="col col-12 push-middle">
                            <!-- icon ROW 1 -->
                            <div class="row icon-size around">
                                <div class="col col-12 push-center">
                                    <div class="row">
                                        <div class="col col-6 push-center icon-padding">
                                            <i class="devicon-javascript-plain"></i>
                                        </div>
                                        <div class="col col-6 push-center icon-padding">
                                            <i class="devicon-less-plain-wordmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- icon ROW 2 -->
                            <div class="row icon-size">
                                <div class="col col-12">
                                    <div class="row">
                                        <div class="col col-6 push-center icon-padding"><i class="devicon-express-original-wordmark"></i></div>
                                        <div class="col col-6 push-center icon-padding"><i class="devicon-nodejs-plain-wordmark"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- icon ROW 3 -->
                            <div class="row icon-size">
                                <div class="col col-12">
                                    <div class="row">
                                        <div class="col col-12 push-center icon-padding"><i class="devicon-postgresql-plain-wordmark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Screenshot -->
                <div class="col col-6 text-center project-background push-middle icon-padding">
                    <a href="https://whattheflick.info" class="icon-link" target="_blank" rel="noopener noreferrer">
                        <img class="rounded blacknwhite" src="/public/images/whattheflick.png" alt="site screenshot">
                    </a>
                </div>
                <!-- Links -->
                <div class="col col-3 text-center project-style icon-padding">
                    <div class="row">
                        <div class="col col-12 head-text icon-title">LINKS</div>
                    </div>
                    <!-- icon container -->
                    <div class="row">
                        <div class="col col-12 push-middle">
                            <!-- icon ROW 1 -->
                            <div class="row icon-size around">
                                <div class="col col-12 push-center icon-padding">
                                    <a href="https://github.com/pcomo24/What_the_Flick" class="icon-link" target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="devicon-github-plain"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- icon ROW 2 -->
                            <div class="row icon-size">
                                <div class="col col-12 push-center icon-padding">
                                    <a href="https://whattheflick.info" class="icon-link" target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="devicon-ubuntu-plain"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-style">
                <div class="row">
                    <div class="col col-12 text-center project-background head-text title-pad">DESCRIPTION</div>
                </div>
                <div class="row">
                    <div class="col col-12 text-center project-background text-pad">
                        <p class="text-content">
                            This web app is a group project I did with
                            <a class="group-link" href="http://www.forzaesotico.com/" target="_blank" rel="noreferrer noopener">
                                George Danforth</a>,
                            <a class="group-link" href="http://alstonhsu.com" target="_blank" rel="noreferrer noopener">
                                Alston Hsu</a>, and
                            <a class="group-link" href="http://jjspetseris.com" target="_blank" rel="noreferrer noopener">
                                JJ Spetseris</a>.  It is a game where players guess a movie title based on movie posters
                            from the movieDB.org API.  We used Express and Node.js for our back end, and PostgreSQL to
                            store high scores.  It is styled using Less, and animated with JavaScript.  In this
                            project I worked on the front-end,building templates with HBS, and styling the pages,
                            and also set up the API calls.  This was a 40-hour project.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col col-2"></div>
    </div>
    <!-- PROJECT 2 -->
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-8">
            <div class="row">
                <div class="col col-12 stripes"></div>
            </div>
        </div>
        <div class="col col-2"></div>
    </div>
    <div id="projects" class="row">
        <div class="col col-2"></div>
        <div class="col col-8 text-center project-background project-style">
            <div class="project-style">
                <div class="row">
                    <div class="col col-12 text-center project-background proj-pad">
                        <h3 class="project-title push-middle">Project #2: Pixalage</h3>
                    </div>
                </div>
            </div>
            <div class="row project-style">
                <!-- Technology -->
                <div class="col col-3 text-center project-style project-background icon-padding">
                    <div class="row">
                        <div class="col col-12 head-text icon-title">TECHNOLOGY</div>
                    </div>
                    <!-- icon container -->
                    <div class="row">
                        <div class="col col-12 icon-padding">
                            <!-- icon ROW 1 -->
                            <div class="row icon-size around">
                                <div class="col col-12 push-center">
                                    <div class="row">
                                        <div class="col col-12 push-center icon-padding">
                                            <i class="devicon-react-original-wordmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Screenshot -->
                <div class="col col-6 text-center project-background push-middle icon-padding">
                  <a href="https:/pixalage.herokuapp.com/" class="icon-link" target="_blank"
                     rel="noopener noreferrer">
                    <img class="rounded blacknwhite" src="/public/images/pixalage.png" alt="site screenshot">
                  </a>
                </div>
                <!-- Links -->
                <div class="col col-3 text-center project-style icon-padding">
                    <div class="row">
                        <div class="col col-12 head-text icon-title">LINKS</div>
                    </div>
                    <!-- icon container -->
                    <div class="row">
                        <div class="col col-12">
                            <!-- icon ROW 1 -->
                            <div class="row icon-size around">
                                <div class="col col-12 push-center icon-padding">
                                    <a href="https://github.com/pcomo24/pixalage" class="icon-link" target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="devicon-github-plain"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- icon ROW 2 -->
                            <div class="row icon-size">
                                <div class="col col-12 push-center icon-padding">
                                    <a href="https:/pixalage.herokuapp.com/" class="icon-link" target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="devicon-heroku-original-wordmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-style">
                <div class="row">
                    <div class="col col-12 text-center project-background head-text">DESCRIPTION</div>
                </div>
                <div class="row">
                    <div class="col col-12 text-center project-background text-pad">
                        <p class="text-content">
                            Pixalage is a personal project I created while attending DigitalCrafts.  My main goal for this
                            project was to become familiar with React.  It creates an API query based on user-selected inputs
                            (Color, Category, Color Scheme) and returns a collage of images from the Pixabay API.  This
                            project took about 40 hours.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col col-2"></div>
    </div>
    <!-- Project 3 -->
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-8">
            <div class="row">
                <div class="col col-12 stripes"></div>
            </div>
        </div>
        <div class="col col-2"></div>
    </div>
    <div id="projects" class="row">
        <div class="col col-2"></div>
        <div class="col col-8 text-center project-background project-style">
            <div class="project-style">
                <div class="row">
                    <div class="col col-12 text-center project-background proj-pad">
                        <h3 class="project-title push-middle">Project #3: Drone Flight Tracker</h3>
                    </div>
                </div>
            </div>
            <div class="row project-style">
                <!-- Technology -->
                <div class="col col-3 text-center project-style project-background icon-padding">
                    <div class="row">
                        <div class="col col-12 head-text icon-title">TECHNOLOGY</div>
                    </div>
                    <!-- icon container -->
                    <div class="row">
                        <div class="col col-12">
                            <!-- icon ROW 1 -->
                            <div class="row icon-size around">
                                <div class="col col-12 push-center">
                                    <div class="row">
                                        <div class="col col-6 push-center icon-padding">
                                            <i class="devicon-express-original-wordmark"></i>
                                        </div>
                                        <div class="col col-6 push-center icon-padding">
                                            <i class="devicon-react-original-wordmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- icon ROW 2 -->
                            <div class="row icon-size around">
                                <div class="col col-12">
                                    <div class="row around">
                                        <div class="col col-6 push-center icon-padding"><i class="devicon-nodejs-plain-wordmark"></i></div>
                                        <div class="col col-6 push-center icon-padding"><i class="devicon-mongodb-plain-wordmark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Screenshot -->
                <div class="col col-6 text-center project-background push-middle icon-padding">
                    <img class="rounded blacknwhite" src="/public/images/tgp1.png" alt="site screenshot">
                </div>
                <!-- Links -->
                <div class="col col-3 text-center project-style icon-padding">
                    <div class="row">
                        <div class="col col-12 head-text icon-title">LINKS</div>
                    </div>
                    <!-- icon container -->
                    <div class="row">
                        <div class="col col-12" id="modalTrigParent">
                            <!-- icon ROW 1 -->
                            <div class="row icon-size around">
                                <div class="col col-12 push-center icon-padding">
                                    <a class="icon-link" target="_blank" rel="noopener noreferrer">
                                        <i class="devicon-github-plain"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- icon ROW 2 -->
                            <div class="row icon-size">
                                <div class="col col-12 push-center icon-padding">
                                    <a class="icon-link" target="_blank" rel="noopener noreferrer">
                                        <i class="devicon-ubuntu-plain"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myModal" class="modalClass">
              <div class="modalContent">
                  <div class="closeMyModal"><span>&times;</span></div>
                  <div class="head-text icon-title">SORRY!</div>
                  <p class="text-content">Unfortunately, I cannot share the code
                     or live application for this project due to a
                     non-disclosure agreement with
                     Timbergrove.
                  </p>
                  <div class="head-text icon-title">BUT...</div>
                  <p class="text-content">The upside is our code will be used in a
                  real-world application, and I gained a valuable reference which
                  I can provide upon request.
                  </p>
              </div>
            </div>
            <div class="project-style">
                <div class="row">
                    <div class="col col-12 text-center project-background head-text">DESCRIPTION</div>
                </div>
                <div class="row">
                    <div class="col col-12 text-center project-background text-pad">
                        <p class="text-content">
                            This was our Final Project at DigitalCrafts, created in collaboration with
                            <a class="group-link" href="https://timbergrove.com" target="_blank" rel="noreferrer noopener">
                                Timbergrove</a>.  It tracks a drone's flight pattern and displays relevant data in real time.
                            It is built with MongoDB, Node.js, Express, AWS IoT, and React.  My role in the project was
                            to build the interface. I used React, Material UI, and React Grid System to create the
                            front end.  There was a huge collaborative effort to get our data to work with mapbox to
                            track the drone's flight pattern, which forced us over the original 80 hours we thought we
                            would spend on this project.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col col-2"></div>
    </div>
    <!-- contact section -->
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-8">
            <div class="row">
                <div class="col col-12 stripes"></div>
            </div>
        </div>
        <div class="col col-2"></div>
    </div>
    <div class="row around">
        <div class="col col-2"></div>
        <div class="col col-8 text-center head-text"></div>
        <div class="col col-2"></div>
    </div>
    <div  id="contact" class="row">
        <div class="col col-2"></div>
        <div class="col col-8 project-background project-style">
            <div class="project-style project-background text-center">
                <div class="proj-pad"><h3 class="mov-title head-text icon-title">Contact Paul</h3></div>
                <form class="form-padding text-content" action="/sendMsg" method="post">
                    <input type="text" placeholder="Name" name="name" minlength="1" maxlength="40">
                    <input type="email" placeholder="E-mail" name="email">
                    <input type="tel" placeholder="Phone" name="phone" minlength="10" maxlength="12">
                    <textarea name="msg" placeholder="Type your message..." minlength="5" maxlength="250"></textarea>
                    <div class="submit-div"><input type="submit"></div>
                </form>
            </div>
        </div>
        <div class="col col-2"></div>
    </div>
    <!--Footer-->
    <div class="row project-background">
        <div class="col col-2"></div>
        <div class="col col-8 project-style">
            <div class="row">
                <div class="col col-2"></div>
                <div class="col col-8 head-text text-center push-center">CONNECT</div>
                <div class="col col-2"></div>
            </div>
            <div class="row">
                <div class="col col-2"></div>
                <div class="col col-8">
                    <div class="row around icon-size text-center">
                        <div class="col col-4 icon-padding push-center">
                            <a href="https://www.linkedin.com/in/paul-como-8b988513b/" class="icon-link text-center"
                               target="_blank" rel="noopener noreferrer">
                                <i class="flaticon-social"></i>
                            </a>
                        </div>
                        <div class="col col-4 icon-padding push-center">
                            <a href="https://drive.google.com/file/d/1F_vvZzOMQdH54KTruXdnNGjiaYWKQ7Y8/view"
                            class="icon-link text-center"
                             target="_blank" rel="noopener noreferrer">
                                <div id="resume-link">RESUME</div>
                            </a>
                        </div>
                        <div class="col col-4 icon-padding push-center">
                            <a href="https://github.com/pcomo24" class="icon-link" target="_blank" rel="noopener noreferrer">
                                <i class="flaticon-circle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12 text-center text-content credit-style">
                            icons by
                            <a href="https://www.flaticon.com/free-icon/github-logo_25231" target="_blank" class="icon-link"
                               rel="noopener noreferrer">
                                'Dave Gandy'
                            </a>
                            and
                            <a href="https://www.flaticon.com/free-icon/linkedin-logo_34227" target="_blank" class="icon-link"
                               rel="noopener noreferrer">
                                'simpleicon'
                            </a>
                            at
                            <a href="https://www.flaticon.com" target="_blank" class="icon-link"
                               rel="noopener noreferrer">flaticon.com</a>
                        </div>
                    </div>
                </div>
                <div class="col col-2"></div>
                </div>
        </div>
        <div class="col col-2"></div>
    </div>

    <script>
        //use 'sweetscroll' lib to make scrolling animations
        document.addEventListener("DOMContentLoaded", () => {
            const sweetScroll = new SweetScroll({easing: "easeInOutSine"});
            let hash = window.location.hash;
            console.log(`hash: ${hash}`);
            const needsInitialScroll = document.getElementById(hash.substr(1)) != null;
            console.log(`needsInit: ${needsInitialScroll}`);
            //if no window location set new location to poster that loads page at #poster
            if (!needsInitialScroll) {
                window.location.hash = "poster";
                hash = window.location.hash;
            }
            //after full page load scroll page to #home, if statement to prevent pulling up on refresh of other divs
            if (window.location.hash === "#poster") {
                window.addEventListener("load", () => {
                    hash = '#home';
                    setTimeout(() => {
                        sweetScroll.to(hash);
                    }, 3750);
                }, false);
            }
        }, false);
        //scroll spy using 'menuspy' library
        var elm = document.querySelector("#main-header");
        var ms = new MenuSpy(elm);

        //modal functionality
        var modal = document.getElementById('myModal');
        //get parent element(div) of elements that listening for click from
        var modalParent = document.querySelector("#modalTrigParent");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closeMyModal")[0];
        //listen on parent element, long as target and click dont match display modal
        modalParent.addEventListener("click", function(e){
          console.log(event.target);
          if (e.target !== e.currentTarget) {
            modal.style.display = "block";
          }
          e.stopPropagation();
        }, false);

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
        }

    </script>
</body>
</html>
