<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paul Como's Website</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="../public/kube/dist/css/kube.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../public/main.css"/>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Molle:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <link rel="stylesheet" href="../public/mfizz/font-mfizz.css">
    <!--devicons-->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <!-- Animations -->
    <script src="../smooth/smooth-scroll.js"></script>
    <script src="../gumshoe/gumshoe.js"></script>
    <script src="../anime/anime.js"></script>
    <script src="../menuspy/menuspy.js"></script>
</head>
<body>
    <!-- navbar -->
    <nav data-gumshoe id="mainNav" class="head-text">
        <a data-scroll href="#home">Top</a>
        <a data-scroll href="#aboutme">About</a>
        <a data-scroll href="#projects">Projects</a>
        <a data-scroll id="colorContact" href="#contact">Contact/Connect</a>
    </nav>
    <!--plax background -->
    <div  class="plaxbg-main">
        <div class="row">
            <div class="col col-2"></div>
            <div class="col col-8 project-background project-style">
                <div class="row full-row">
                    <div class="col col-12">
                        <div class="plax-img push-center"></div>
                        <div class="plax-credit push-center">
                            <h2 class="mov-title" id="home">Full-Stack: A Digital Portfolio</h2>
                            <p class="mov-sub">developed by</p>
                            <p class="mov-subHead inline">Paul Como</p><br>
                            <p class="mov-sub">built with</p>
                            <p class="mov-subHead inline">NodeJS, ExpressJS, Kube, LESS</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-2"></div>
        </div>
    </div>
    <!-- about me section -->
    <div class="project-background">
        <div class="row">
            <div class="col col-2"></div>
            <div class="col col-8">
                <div class="row">
                    <div class="col col-12 stripes"></div>
                </div>
            </div>
            <div class="col col-2"></div>
        </div>
        <div id="aboutme" class="row">
            <div class="col col-2 center-text"></div>
            <div class="col col-8 center-text project-style">
                <div class="row">
                    <div class="col col-12">
                        <h3 class="head-text mov-title">ABOUT</h3>
                        <p class="text-content">My name is Paul Como. I am a former college athlete, with a B.S. in
                            Kinesiology. My journey to web development began one day when I discovered the code editor
                            for styling my Tumblr page and was fascinated by it.<br>After spending the next week doing
                            HTML and CSS tutorials, I realized I had a real appreciation for code and I started
                            searching for more in depth learning materials.  In that time, I stumbled across, and ended
                            up enrolling in DigitalCrafts, a fully-immersive coding bootcamp in Houston, which I will
                            graduate from in August 2017.<br>Besides programming, I also enjoy making music in Ableton
                            Live, exercising(most weeks), and cooking.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-2 center-text"></div>
        </div>
    </div>
    <!--projects section-->
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-8">
            <div class="row">
                <div class="col col-12 stripes"></div>
            </div>
        </div>
        <div class="col col-2"></div>
    </div>
    <div id="projects" class="row">
        <div class="col col-2"></div>
        <div class="col col-8 center-text project-background project-style">
            <div class="project-style">
                <div class="row">
                    <div class="col col-12 center-text project-background">
                        <h3 class="project-title push-middle head-text">Project#1: What The Flick</h3>
                    </div>
                </div>
            </div>
            <div class="row project-style">
                <!-- Technology -->
                <div class="col col-3 center-text project-style project-background icon-padding">
                    <div class="row">
                        <div class="col col-12 head-text icon-title">TECHNOLOGY</div>
                    </div>
                    <!-- icon container -->
                    <div class="row">
                        <div class="col col-12 push-middle">
                            <!-- icon ROW 1 -->
                            <div class="row icon-size around">
                                <div class="col col-12 push-center">
                                    <div class="row">
                                        <div class="col col-6 push-center icon-padding"><i class="devicon-javascript-plain"></i></div>
                                        <div class="col col-6 push-center icon-padding"><i class="devicon-less-plain-wordmark"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- icon ROW 2 -->
                            <div class="row icon-size">
                                <div class="col col-12">
                                    <div class="row">
                                        <div class="col col-6 push-center icon-padding"><i class="devicon-express-original-wordmark"></i></div>
                                        <div class="col col-6 push-center icon-padding"><i class="devicon-nodejs-plain-wordmark"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- icon ROW 3 -->
                            <div class="row icon-size">
                                <div class="col col-12">
                                    <div class="row">
                                        <div class="col col-12 push-center icon-padding"><i class="devicon-postgresql-plain-wordmark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Screenshot -->
                <div class="col col-6 center-text project-background push-middle icon-padding">
                    <a href="https://whattheflick.info" class="icon-link" target="_blank" rel="noopener noreferrer">
                        <img  class="rounded blacknwhite" src="/public/images/whattheflick.png">
                    </a>
                </div>
                <!-- Links -->
                <div class="col col-3 center-text project-style">
                    <div class="row">
                        <div class="col col-12 head-text icon-title">LINKS</div>
                    </div>
                    <!-- icon container -->
                    <div class="row">
                        <div class="col col-12 push-middle">
                            <!-- icon ROW 1 -->
                            <div class="row icon-size around">
                                <div class="col col-12 push-center icon-padding">
                                    <a href="https://github.com/SpectreiiI/What_the_Flick" class="icon-link" target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="devicon-github-plain"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- icon ROW 2 -->
                            <div class="row icon-size">
                                <div class="col col-12 push-center icon-padding">
                                    <a href="https://whattheflick.info" class="icon-link" target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="devicon-ubuntu-plain"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-style">
                <div class="row">
                    <div class="col col-12 center-text project-background head-text">DESCRIPTION</div>
                </div>
                <div class="row">
                    <div class="col col-12 center-text project-background description-pad">
                        <p class="text-content">
                            This web app is a game that pulls movie posters from themoviedb.org. The user must choose
                            the correct title of the movie, from 4 multiple options. They are allowed 3 hint clicks and
                            gain a point for each correct answer. The game continues until the user gets a movie
                            incorrect. The game is mobile responsive as well.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col col-2"></div>
    </div>
    <!-- PROJECT 2 -->
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-8">
            <div class="row">
                <div class="col col-12 stripes"></div>
            </div>
        </div>
        <div class="col col-2"></div>
    </div>
    <div id="projects" class="row">
        <div class="col col-2"></div>
        <div class="col col-8 center-text project-background project-style">
            <div class="project-style">
                <div class="row">
                    <div class="col col-12 center-text project-background">
                        <h3 class="project-title push-middle">Project#2: Pixalage</h3>
                    </div>
                </div>
            </div>
            <div class="row project-style">
                <!-- Technology -->
                <div class="col col-3 center-text project-style project-background">
                    <div class="row">
                        <div class="col col-12 head-text icon-title">Technology</div>
                    </div>
                    <!-- icon container -->
                    <div class="row">
                        <div class="col col-12 icon-padding">
                            <!-- icon ROW 1 -->
                            <div class="row icon-size around">
                                <div class="col col-12 push-center">
                                    <div class="row">
                                        <div class="col col-12 push-center icon-padding"><i class="devicon-react-original-wordmark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Screenshot -->
                <div class="col col-6 center-text project-background push-middle icon-padding">
                    <img  class="rounded blacknwhite" src="/public/images/pixalage.png">
                </div>
                <!-- Links -->
                <div class="col col-3 center-text project-style">
                    <div class="row">
                        <div class="col col-12 head-text icon-title">Links</div>
                    </div>
                    <!-- icon container -->
                    <div class="row">
                        <div class="col col-12">
                            <!-- icon ROW 1 -->
                            <div class="row icon-size around">
                                <div class="col col-12 push-center icon-padding">
                                    <a href="https://github.com/pcomo24/pixalage" class="icon-link" target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="devicon-github-plain"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- icon ROW 2 -->
                            <div class="row icon-size">
                                <div class="col col-12 push-center icon-padding">
                                    <a href="https://murmuring-falls-20226.herokuapp.com/" class="icon-link" target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="devicon-heroku-original-wordmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-style">
                <div class="row">
                    <div class="col col-12 center-text project-background head-text">DESCRIPTION</div>
                </div>
                <div class="row">
                    <div class="col col-12 center-text project-background description-pad">
                        <p class="text-content">
                            Pixalage is a personal project i created while attending DigitalCrafts Coding Bootcamp. The
                            goal of this project was mainly to allow me to get familiar with React. The app is built
                            using React and the Pixabay API. It creates an API query based on user selected inputs
                            (color, category, colorScheme) and returns a 'collage' of images that match the query.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col col-2"></div>
    </div>
    <!-- Project 3 -->
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-8">
            <div class="row">
                <div class="col col-12 stripes"></div>
            </div>
        </div>
        <div class="col col-2"></div>
    </div>
    <div id="projects" class="row">
        <div class="col col-2"></div>
        <div class="col col-8 center-text project-background project-style">
            <div class="project-style">
                <div class="row">
                    <div class="col col-12 center-text project-background">
                        <h3 class="project-title push-middle">Project#3: Timbergrove Flight Plan</h3>
                    </div>
                </div>
            </div>
            <div class="row project-style">
                <!-- Technology -->
                <div class="col col-3 center-text project-style project-background icon-padding">
                    <div class="row">
                        <div class="col col-12 head-text icon-title">Technology</div>
                    </div>
                    <!-- icon container -->
                    <div class="row">
                        <div class="col col-12">
                            <!-- icon ROW 1 -->
                            <div class="row icon-size around">
                                <div class="col col-12 push-center">
                                    <div class="row">
                                        <div class="col col-6 push-center icon-padding"><i class="devicon-express-original-wordmark"></i></div>
                                        <div class="col col-6 push-center icon-padding"><i class="devicon-react-original-wordmark"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- icon ROW 2 -->
                            <div class="row icon-size around">
                                <div class="col col-12">
                                    <div class="row around">
                                        <div class="col col-6 push-center icon-padding"><i class="devicon-nodejs-plain"></i></div>
                                        <div class="col col-6 push-center icon-padding"><i class="devicon-mongodb-plain-wordmark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Screenshot -->
                <div class="col col-6 center-text project-background push-middle icon-padding">
                    <img  class="rounded blacknwhite" src="/public/images/drone-2219251_640.jpg">
                </div>
                <!-- Links -->
                <div class="col col-3 center-text project-style">
                    <div class="row">
                        <div class="col col-12 head-text icon-title">Links</div>
                    </div>
                    <!-- icon container -->
                    <div class="row">
                        <div class="col col-12">
                            <!-- icon ROW 1 -->
                            <div class="row icon-size around">
                                <div class="col col-12 push-center icon-padding">
                                    <a href="" class="icon-link" target="_blank" rel="noopener noreferrer">
                                        <i class="devicon-github-plain"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- icon ROW 2 -->
                            <div class="row icon-size">
                                <div class="col col-12 push-center icon-padding">
                                    <a href="" class="icon-link" target="_blank" rel="noopener noreferrer">
                                        <i class="devicon-ubuntu-plain"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-style">
                <div class="row">
                    <div class="col col-12 center-text project-background head-text">DESCRIPTION</div>
                </div>
                <div class="row">
                    <div class="col col-12 center-text project-background description-pad">
                        <p class="text-content">
                            This is an ongoing project that will be updated when finished.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col col-2"></div>
    </div>
    <!-- contact section -->
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-8">
            <div class="row">
                <div class="col col-12 stripes"></div>
            </div>
        </div>
        <div class="col col-2"></div>
    </div>
    <div id="contact" class="row around">
        <div class="col col-2"></div>
        <div class="col col-8 center-text head-text"><h3 class="mov-title">Contact Paul</h3></div>
        <div class="col col-2"></div>
    </div>
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-8">
            <div>
                <form action="/sendMsg" method="post">
                    Name: <input type="text" name="name">
                    E-mail: <input type="email" name="email">
                    Phone: <input type="tel" name="phone">
                    <label>Message</label>
                    <textarea name="msg"></textarea>
                    <input type="submit">
                </form>
            </div>
        </div>
        <div class="col col-2"></div>
    </div>
    <!-- languages -->
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-8 center-text"><h3 class="mov-title">Behind the Scenes: Other Tech I've used</h3></div>
        <div class="col col-2"></div>
        <div class="col col-2"></div>
        <div class="col col-8 center-text">
            <div class="col col-12">
                <i class="icon-html5"></i>
                <i class="icon-css3"></i>
                <i class="icon-javascript"></i>
                <i class="icon-nodejs"></i>
                <i class="icon-postgres-alt"></i>
            </div>
        </div>
        <div class="col col-2"></div>
    </div>
    <!--Footer-->
    <div class="row blue">
        <div class="col col-4"></div>
        <div class="col col-4 bordered">
            <div class="row text-center">
                <div class="col col-12 head-text"><p>Connect</p></div>
            </div>
            <div class="row">
                <ul class="list">
                    <li><a href="http://www.google.com" target="_blank" rel="noopener noreferrer">
                        <img src="/public/images/icons/svg/009-linkedin-logo.svg"
                             width="50" height="50"></a></li>
                    <li><a href="http://www.google.com" target="_blank" rel="noopener noreferrer">
                        <img src="/public/images/icons/svg/006-github-1.svg"
                             width="50" height="50"></a></li>
                </ul>
            </div>
        </div>
        <div class="col col-4"></div>
    </div>
    <script>
        var elm = document.querySelector('mainNav');
        var ms = new MenuSpy(elm)
        function checkscroll() {
            var contact = document.getElementById('contact');
            var height = contact.scrollTop;
            console.log(height);
        }
        checkscroll();
        function colorLink() {
            document.getElementById('colorContact').style.color = "red";
        };

        smoothScroll.init({offset: 20, easing: 'easeInOutQuad'});
        gumshoe.init({offset: 21});
    </script>
</body>
</html>
